@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue: hsl(207, 26%, 17%);
  --light-mode-text: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

body {
  overflow-y: scroll;
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.6;
  background-color: var(--very-light-gray);
  color: var(--light-mode-text);
}

input::placeholder {
  color: var(--dark-gray);
}

/* ? Parent container */
.parent-nav-container,
.parent-grid-container,
.parent-country-details-container {
  max-width: 1300px;
  margin: 0 auto;
}
/* ************************************************** */

/* ? child container */
.nav-content,
.grid-container,
.details-container {
  margin: 0 1rem;
}
/* ************************************************** */

/* ? Header nav bar */
header {
  box-shadow: 0 0rem 0.8rem rgba(0, 0, 0, 0.2);
  margin-bottom: 2.5rem;
  padding: 1.6rem 0;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-content h1 {
  font-size: 1rem;
  font-weight: 800;
}

.nav-content button {
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 12px;
  color: inherit;
  cursor: pointer;
  align-self: center;
}

.nav-content button i {
  margin-right: 0.4rem;
}

/* ************************************************** */

.grid-container {
  display: grid;
  row-gap: 1rem;
}

.grid-container.deactive {
  display: none;
}

.parent-country-details-container {
  display: none;
}

.parent-country-details-container.active {
  display: block;
}

.search-box,
.dropdown-box {
  margin-bottom: 1rem;
}

/* ? Search input */
.search-box {
  max-width: 425px;
  height: 44px;
  background-color: var(--white);
  display: flex;
  border-radius: 5px;
  align-items: center;
  padding: 1.1rem;
  box-shadow: 0 0rem 0.8rem rgba(0, 0, 0, 0.2);
}

.search-box i {
  font-size: 1rem;
}

.search-box input {
  flex: 1;
  height: 40px;
  border: none;
  outline: none;
  font-size: 0.9rem;
  padding-left: 0.8rem;
  color: inherit;
}
/* ************************************************** */

/* ? Dropdown option */
.select-box {
  width: 180px;
  display: flex;
  flex-direction: column;
}

.options-container {
  display: none;
  background-color: var(--white);
  list-style: none;

  position: absolute;
  width: 180px;
  border-radius: 8px;
  margin-top: 3.2rem;
  z-index: 10;
}

.options-container.active {
  display: block;
}

.selected {
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.2);
  background-color: var(--white);
  border-radius: 8px;
  position: relative;
}

.selected,
.option button {
  width: 100%;
  padding: 0.8rem 1rem;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 300;
  text-align: left;
  background-color: transparent;
  border: none;
  color: inherit;
}

.option button.active::after {
  content: "*";
  margin-left: 1rem;
}

.fa-arrow-up {
  margin-left: 1rem;
  transition: all 0.6s ease;
}

.fa-arrow-up.active {
  transform: rotate(-180deg);
}

/* ************************************************** */

.grid-item {
  justify-self: center;
  width: 100%;

  box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  cursor: pointer;
}

.grid-item img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.grid-item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
}

.content-details {
  padding: 1rem;
  font-weight: 600;
}

.content-details span {
  font-weight: 300;
}

.content-details h2 {
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
}

.content-details > p {
  font-size: 1.1rem;
}

.content-details > p:last-child {
  margin-bottom: 1.6rem;
}

/* ? Country Details */
.details-container {
  display: flex;
  flex-direction: column;
}

.flag-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.back-btn {
  align-self: start;
  padding: 0.6rem 1.8rem;
  margin-bottom: 2.5rem;
  border: none;
  background-color: transparent;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);

  cursor: pointer;
  border-radius: 5px;
  color: inherit;
}

.back-btn:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.5);
}

.back-btn i {
  margin-right: 0.2rem;
}

.flag-container img {
  width: 100%;
  margin-bottom: 2rem;
}

.country-title {
  font-size: 1.6rem;
  margin-bottom: 1.4rem;
}

.country-details > p {
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.country-details > p span {
  font-weight: 300;
}

.border-country-title {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.country-neighbors {
  gap: 0.6rem;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.6rem;
}

.country-neighbors p {
  text-align: center;
  padding: 0.4rem 0.8rem;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.4);
}

/* ************************************************** */

/* ? Theme */
body,
header,
.grid-item {
  transition: background-color 0.4s ease;
}
.dark-mode-parent {
  background-color: var(--very-dark-blue);
}

.dark-mode-child {
  background-color: var(--dark-blue);
}

/* ************************************************** */

/* ? Spinner Async*/
.spinner {
  margin: 5rem auto;
  text-align: center;
}

.spinner svg {
  height: 6rem;
  width: 6rem;
  animation: rotate 4s infinite linear;
  background-color: rgba(240, 220, 148, 0.325);
  padding: 1rem;
  border-radius: 50px;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
/* ************************************************** */

@media only screen and (min-width: 425px) {
  .nav-content h1 {
    font-size: 1.6rem;
  }

  .nav-content button {
    font-size: 1rem;
  }

  .grid-item img {
    object-fit: cover;
  }

  .grid-item {
    max-width: 425px;
  }

  .nav-content h1 {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 600px) {
  .parent-country-details-container {
    width: 600px;
  }
}

@media only screen and (min-width: 768px) {
  .grid-container {
    gap: 40px;
    grid-template-columns: 1fr 1fr;
  }

  .search-box {
    align-self: center;
    width: 350px;
  }

  .dropdown-box {
    justify-self: end;
  }
}

@media only screen and (min-width: 1024px) {
  .grid-container {
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .search-box {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    width: 450px;
  }

  .dropdown-box {
    justify-self: end;
    grid-column: 3 / -1;
    grid-row: 1 / 2;
  }

  .back-btn {
    grid-column: 1 / -1;
    justify-self: start;
    align-self: start;
  }

  .parent-country-details-container {
    width: auto;
  }

  .details-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr;
    column-gap: 4rem;
    width: auto;
  }

  .country-details-container {
    justify-self: center;
    align-self: center;
  }

  .flag-container {
    align-self: center;
  }

  .flag-container img {
    width: 600px;
    height: 400px;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1300px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
  }

  .country-title {
    font-size: 1.8rem;
  }

  .country-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8rem;
    margin-bottom: 4rem;
    align-self: start;
  }

  .border-countries {
    display: flex;
    align-items: center;
  }

  .border-country-title {
    margin-right: 1rem;
    margin-bottom: 0;
  }

  .country-neighbors {
    margin-bottom: 0;
  }
}
